<div>
    <p>
        Service Pricing
Once a Week: $18 for First Dog plus $5 for each additional dog

Twice a Week: $14 for First Dog per visit plus $3 for each additional dog

Every Other Week: $26 for First Dog plus $5 for each additional dog
Services are invoiced at the end of the month
$5 Service Fee to take Poop Off Property
Surcharge may apply for oversized yards and/or front yard cleanings.
If the yard hasn’t been cleaned in the last 2 weeks there may be a first time clean up charge
No contracts required
    </p>
</div>